*{
  box-sizing: border-box;
}
ul{
  padding: 0;
}
button{
  outline: none;
  background: transparent;
  border: none;
}
body{
  background-color: #ced3df;
  text-align: center;

}
.list{
  width: 400px;
  margin: auto;
  background-color: #f1f0f7;
  border-radius: 20px;
}
.header{
  height: 48px;
  padding: 8px;
  font-size: 24px;
  background-color: rgba(237, 193, 211);
  background: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(219, 192, 216, 1) 35%,
    rgba(127, 188, 242, 1) 100%
  );
  border-radius:  20px 20px 0 0;
  color: white;
}

.items{
  height: 500px;
  overflow-y: auto ;/* item이 많아지면 자동으로 스크롤 생성 */
}

.item{
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}

.item__divider{
  width: 90%;
  height: 1px;
  background: lightgrey;
  margin: auto;
}
.item__delete{
  cursor: pointer;
  transition: all 300ms ease-in;
}
.item__delete:hover{
  color: lightcoral ;
  transition: scale(1.1);
}
.footer{
  background-color: rgba(237, 193, 211);
  background: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(219, 192, 216, 1) 35%,
    rgba(127, 188, 242, 1) 100%
  );
  border-radius:  0 0 20px 20px;
  color: white;
}

.footer__input{
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 16px;
}
